
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<style>
    .m-5 {
        margin: 3%;
    }
</style>
@*<div><h1>Change Password Page</h1></div>*@
<div class="m-5">
    <div class="row col-xl-12">
        <button class="btn btn-md btn-primary text-left"
                id="addBtn" type="button">
            Add new Row
        </button>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">A</th>
                        <th class="text-center">B</th>
                        <th class="text-center">C</th>
                        <th class="text-center">D</th>
                        <th class="text-center">Formula</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Calculate</th>
                        <th class="text-center">Remove Row</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>

    </div>
</div>

@*@section scripts{}*@
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script>
        var rowIdx = 0;

        $('#addBtn').on('click', function () {
            //debugger
            // Adding a row inside the tbody.
            //$('#tbody').append(`<tr id="R${++rowIdx}">
            //  <td class="row-index text-center">
            //        <p>Row ${rowIdx}</p></td>
            //   <td class="text-center">
            //    <button class="btn btn-danger remove"
            //        type="button">Remove</button>
            //    </td>
            //   </tr>`);
     $('#tbody').append(`<tr id="R${++rowIdx}">
        <td class="row-index text-center">
            <p><input type="text" id="A" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' /></p>
        </td>
        <td class="row-index text-center">
            <p><input type="text" id="B" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' /></p>
        </td>
        <td class="row-index text-center">
            <p><input type="text" id="C" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' /></p>
        </td>
        <td class="row-index text-center">
            <p><input type="text" id="D" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' /></p>
        </td>
        <td class="row-index text-center">
            <p><input type="text" id="F" class="form-control" /></p>
        </td>
        <td class="row-index text-center">
            <p><input type="text" id="R${rowIdx}C" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' /></p>
        </td>
        <td class="text-center">
            <button class="btn btn-success calculate" type="button">Calculate</button>
        </td>
        <td class="text-center">
            <button class="btn btn-danger remove" type="button">Remove</button>
        </td>
      </tr>`);
        });


    $('#tbody').on('click', '.remove', function () {
        // Removing the current row.
        $(this).closest('tr').remove();
    });

    $('#tbody').on('click', '.calculate', function () {
        //debugger
        var Aval = parseInt($(this).closest('tr').find("#A").val());
        var Bval = parseInt($(this).closest('tr').find("#B").val());
        var Cval = parseInt($(this).closest('tr').find("#C").val());
        var Dval = parseInt($(this).closest('tr').find("#D").val());
        var formula = ''+$(this).closest('tr').find("#F").val()+'';
        alert(formula)
        //var result = Aval+Bval+Cval+Dval;
        A = Aval
        B = Bval
        C = Cval
        D = Dval
        
        var Replaced_String = formula.replace('A', A).replace('B', B).replace('C', C).replace('D', D);
        var Sum = parseInt(Replaced_String);
      //var txt1=  formula.replace('A', A);
      //var txt2= formula.replace('B', B);
      //  var txt3 =  formula.replace('C', C);
      //  var txt4 = formula.replace('D', D);

        alert(Replaced_String);
        
    });
    </script>