<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ResultPrint</title>
    </head>
    <body>
        @model ScholarPortal.Models.StudentInfo
        <div>
            <h1>Welcome to print page</h1>
            @*<h2>Name : <span>@(Model.FullName)</span></h2>
            <h2>Score : <span>@(Model.Score)</span></h2>*@
        </div>
    </body>
    </html>
